<div class="container-fluid px-0">
  <div id="section-1">
    <div class="row mx-0 h-100">
      <div class="col h-100 d-flex justify-content-start align-items-center">
        <div class="ml-md-5 pl-md-5">
          <h1 class='text-center' id='names'>Christian + Amanda</h1>
          <h4 class='text-center' id='date'> AUGUST 2, 2020</h4>
          <div class="w-100 text-center pt-3">
            <a id="rsvp" class="btn btn-light text-dark" href="https://amandaandchristianwedding.app.rsvpify.com/"><span>RSV</span>P</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-2">
    <div class="row mx-0 bg-light h-100">
      <div class="col-sm p-4">
        <h1 class="text-center" id="header">Our Story</h1>
        <p class="mx-auto">Amanda and Christian's story begins with God preparing the way a week before they
          even
          knew each
          other’s
          name.
          God sent Christian to a coffee shop where a faithful soon to be friend, Jayci, invited him to a college church
          group called Hill City. Christian was excited at the opportunity but had little idea what God really had
          planned for him at this church group.
        </p>
        <p class="mx-auto">
          The following Wednesday, Amanda had been lead by God’s grace to the same church group for a few weeks and on
          this particular night, the happy couple was introduced by a mutual friend, Katie. The two began hanging out
          outside of church- but not without Christian catching feelings and Amanda friendzoning him immediately. It
          just so happened God was working a little slower in Amanda’s heart than He was in Christian's, until a few
          coffee dates and a high school church camping trip later, Amanda came around and they solidified their
          relationship with a fateful high five. Two years later, the couple is still sharing coffee and high fives and
          plan to do so for the rest of their lives.</p>
      </div>
    </div>
  </div>

  <div id="section-3">
    <div class="row mx-0">
      <div id="info" class="col-sm py-4">
        <h1 id="header">Details</h1>
        <h5 id="title" class="mb-3">The Ceremony and Reception</h5>
        <h5 id="time" class="mb-3">4:00pm (Reception to follow)</h5>
        <h6 class="location mb-2">2463 Turnersburg Hwy.</h6>
        <h6 class="location">Harmony, North Carolina</h6>
        <a id="directions" class="btn btn-dark text-light mb-2"
          href="https://www.google.com/maps/place/1812+Hitching+Post+Weddings/@35.913648,-80.800068,17z/data=!3m1!4b1!4m2!3m1!1s0x8853dffcc67a3361:0xdc34db702a6d1944?hl=en-US"><span>GET
            DIRECTION</span>S</a>
        <!-- <h6>The Ceremony and Reception</h6> -->
      </div>
      <div id="image" class="col-sm">
      </div>
    </div>
  </div>

  <div id="section-4">
    <div class="row mx-0 pt-3">
      <div class="col-sm">
        <h1 class="text-center" id="header">Registry</h1>
        <p id="thanks" class="text-center">
          We are so grateful and honored that you want to help us start our life together.
          We have registered with the followings stores. You can simply click the logo and
          it will take you to the registry page. Thank you!
        </p>
        <div class="row">
          <div class="col text-center">
            <div id="registry-logo">
              <a target="_blank"
                href="https://www.myregistry.com/wedding-registry/Amanda-Scovell-and-Christian-Brooks-Charlotte-NC/2195530"><img
                  src='../../../assets/images/myregistry.png' alt="No Image Found"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div id="rsvpChoiceContainer">
    <button (click)="onAccept($event)" data-for="slideDownForm" id="acceptButton" class="btn btn-light h-100 w-50 border border-right border-dark rounded-0">
        accept
    </button>
    <button id="declineButton" class="btn btn-light h-100 w-50 rounded-0">
        decline
    </button>
</div> -->

<router-outlet></router-outlet>