<div id="section-1">
  <div>
    <h1 id="names">Christian + Amanda</h1>
    <h4 id="date"> MAY 17, 2020</h4>
    <!-- <a id="rsvp" class="btn btn-light text-dark" [routerLink]="'/rsvp'"><span>RSV</span>P</a> -->
  </div>
</div>

<div id="section-2">
  <div class="row mx-0">
    <div id="info" class="col col-sm-5">
      <h1 id="header">Details</h1>
      <h5 id="title" class="mb-3">The Ceremony and Reception</h5>
      <h5 id="time" class="mb-3">4:00pm (Reception to follow)</h5>
      <h6 class="location mb-2">2463 Turnersburg Hwy.</h6>
      <h6 class="location">Harmony, North Carolina</h6>
      <a id="directions" class="btn btn-dark text-light"
        href="https://www.google.com/maps/place/1812+Hitching+Post+Weddings/@35.913648,-80.800068,17z/data=!3m1!4b1!4m2!3m1!1s0x8853dffcc67a3361:0xdc34db702a6d1944?hl=en-US"><span>GET
          DIRECTION</span>S</a>
      <!-- <h6>The Ceremony and Reception</h6> -->
    </div>
    <div id="image" class="col col-sm-7">
    </div>
  </div>
</div>

<div id="section-4">
  <h1 id="header">Registry</h1>
  <p id="thanks">
    We are so grateful and honored that you want to help us start our life together.
    We have registered with the followings stores. You can simply click the logo and
    it will take you to the registry page. Thank you!
  </p>
  <div class="row">
    <div id="target-logo">
      <a target="_blank" href="https://www.target.com/gift-registry/gift/amandaandchristian"><img
          src='../../../assets/images/target.png' alt=""></a>
    </div>
    <div id="bbb-logo">
      <a target="_blank"
        href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/548146780?eventType=Wedding"><img
          src='../../../assets/images/bbb.png' alt=""></a>
    </div>
  </div>
</div>


<!-- <div id="rsvpChoiceContainer">
    <button (click)="onAccept($event)" data-for="slideDownForm" id="acceptButton" class="btn btn-light h-100 w-50 border border-right border-dark rounded-0">
        accept
    </button>
    <button id="declineButton" class="btn btn-light h-100 w-50 rounded-0">
        decline
    </button>
</div> -->

<router-outlet></router-outlet>