#section-1
    // Text
    // display: flex
    // justify-content: flex-end
    // Background Image
    background: url(src/assets/images/landing.jpg)
    background-size: cover
    height: 100vh
    background-position: center
    // padding: 75px 30px 0 0
    div
        // text-align: center
    #names
        color: white
        font-family: 'Belmont-Bold', cursive
        font-size: 120px
    #date
        color: white
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        // text-align: center
        font-weight: 700
        letter-spacing: 18px
    #rsvp
        color: black
        background-color: white
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        // text-align: center
        font-weight: 300
        // margin-top: 23px
        border-radius: 100px
        // padding: 12px 24px
        span
            letter-spacing: 10px

#section-2
    height: 100vh
    #header
        font-family: 'Belmont-Bold', cursive
        font-size: 120px
    p
        width: 50%

#section-3
    // height: 500px
    #info
        // padding-top: 50px
        text-align: center
        #header
            font-family: 'Belmont-Bold', cursive
            font-size: 120px
        #title
            font-family: 'Montserrat', sans-serif
            font-weight: 400
            font-size: 24px
        #time
            font-family: 'Montserrat', sans-serif
            font-weight: 500
            font-size: 20px
        .location
            font-family: 'Montserrat', sans-serif
            font-weight: 400
            font-size: 16px
        #directions
            margin-top: 50px
            font-family: 'Montserrat', sans-serif
            font-size: 16px
            text-align: center
            font-weight: 300
            border-radius: 100px
            // padding: 10px 15px
            span
                letter-spacing: 4px
    #image
        // Background Image
        background: url('src/assets/images/RAW_17871_SM.jpg')
        background-size: cover
        background-position: center
        height: 100vh
        font-size: 12px

#section-4
    // display: flex
    // flex-direction: column
    // align-items: center
    // text-align: center
    // Background Image
    background: url('src/assets/images/RAW_17394_MD.jpg')
    background-size: cover
    height: 750px
    background-position: center
    color: white
    // padding: 100px
    #header
        font-family: 'Belmont-Bold', cursive
        font-size: 120px
    #thanks
        // width: 600px
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        font-size: 16px
    #registry-logo
        margin: 0 auto
        img
            width: 250px

@media only screen and (max-width: 576px)
    #section-1
        #names
            font-size: 70px
        #date
            font-size: 12px

    #section-2
        height: 100%
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        font-size: 16px
        #header
            font-size: 90px
        p
            width: 100%

    #section-3
        #info
            #header
                font-size: 90px
        #image
            // height: 0px

    #section-4
        height: 650px
        #header
            font-size: 90px
        #thanks
            font-size: 12px
        #target-logo
            width: 150px
            img
                max-width: 100%
                height: auto
        #bbb-logo
            // margin-left: auto
            // flex-align: right
            width: 150px
            img
                max-width: 100%
                height: auto

// #rsvpChoiceContainer
//     font-family: 'Alegreya SC', serif
//     height: 15vh

//     button
//         font-size: 30px
