#backgroundImage
    // Text
    display: flex
    justify-content: center
    font-family: 'La Belle Aurore', cursive
    // Background Image
    background: url('../../../images/blond-hair-couple-fashion-1573008.jpg')
    background-size: cover
    height: 80vh
    background-position: center
    // background: linear-gradient(transparent, rgba(26,26,26,.0), rgba(26,26,26,1)), url('../../../images/blond-hair-couple-fashion-1573008.jpg')
    h2
        font-size: 50px
        padding-top: 50px
        text-align: center
    h1
        font-size: 60px
        text-align: center

#rsvpChoiceContainer
    font-family: 'Alegreya SC', serif
    height: 15vh

    button  
        font-size: 30px
        


