<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a [routerLink]="'/home'" class="nav-item nav-link">Home </a>
            <a [routerLink]="'/rsvp'" class="nav-item nav-link">RSVP</a>
            <a [routerLink]="'/registry'" class="nav-item nav-link">Registry</a>
            <a [routerLink]="'/gallery'" class="nav-item nav-link">Gallery</a>
        </div>
    </div>
</nav>

<h1 class="ml-5">RSVP</h1>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="mx-5">
    <h5 *ngIf="success">Your form is valid!</h5>
    <div class="form-row">

        <div class="col-5">
            <input type="text" placeholder="First Name" formControlName="firstName" class="form-control">
            <div *ngIf="submitted && messageForm.controls.firstName.errors" class="text-danger">
                <div *ngIf="messageForm.controls.firstName.errors.required">* Your First Name is required!</div>
            </div>
        </div>

        <div class="col-5">
            <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control">
            <div *ngIf="submitted && messageForm.controls.lastName.errors" class="text-danger">
                <div *ngIf="messageForm.controls.lastName.errors.required">* Your Last Name is required!</div>
            </div>
        </div>
    
        <div class="col">
            <input type="submit" value="Submit" class="btn btn-dark w-100">
        </div>

    </div>

</form>

<!-- 
    * First Name
    * Last Name
    * IsComing
    * Bringing Plus One?
    * Lines Per Guest
 -->